[Desktop Entry]
Name=jstest-gtk
Comment=Joystick testing and configuration tool
Comment[es]=Herramienta de comprobación y configuración de joysticks
Exec=jstest-gtk
Terminal=false
Type=Application
Icon=jstest-gtk
Categories=GTK;System;
Keywords=joystick;calibration;
